/*///////////////
/// ICON
*///////////////

.icon {
    width: 28px;
    height: 28px;
    padding: 0 2px;
    fill: $color-white;
}

.social-icon {
    width: 16px;
    height: 16px;
    padding: 0;
    fill: $color-purple;
}

.audio-icon {
    fill: $color-white;
    width: 30px;
    height: 30px;
    text-align: left;
}



