/*///////////////
/// ICON
*///////////////

.icon {
    width: 28px;
    height: 28px;
    padding: 0 2px;
    fill: $color-white;
}

.social-icon {
    width: 20px;
    height: 20px;
    padding: 0;
    fill: $color-purple;
}



