/*///////////////
/// BODY
*///////////////

.audio-wrapper {
    width: 95%;
    margin: 0 auto;
    text-align: center;

    .soundbyte {
        display: inline-block;
        padding-top: 30px;
        margin: 0 0.5em;
    }

    .soundbyte p {
        text-align: center;
    }

    .soundbyte-icons {
        display: flex;
    } 

}

