/*///////////////
/// HEADER
*///////////////

header {
    background-color: $color-dark-purple;
    }

.top-bar {
    padding: 10px 20px 2px 20px;
}


nav {
    
    &.nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center ;
    }

    .logo {
        width: 63px;
        height: 35px;
        fill: $color-white;
        padding-top: 5px;
    }   

    .logo a {
        margin: 0;
        padding: 0;
        margin-left: 1em;
    }

    ul {
        margin: 0;
        padding-top: 10px;
        padding-left: 0;
        padding-bottom: 10px;
        list-style: none;
     
    }

    li {
        
        
        display: inline-block;
        padding: 0 5px;
        border-radius: 50px;
        background-color: rgba(255,255,255,0.2);
        text-align: center;
        font-weight: 700;

    }

    li a{
        display: inline-block;
        margin: 2px 1px;
        padding: 5px 20px;
    }

    li.current_page_item {
        background-color: rgba(0,0,0,0.6);
    }


    li a {
        display: block;
        color: $color-white;
        text-decoration: none;
    }
}

.header-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 2px 20px;
}

.play-controls {
    text-align: right;
    padding: 0.25em 0 1em 2em;
}

.play-controls img {
    padding: 2px;
}

.social-media {
    text-align: left;
    padding: 0.25em 1em 1em 0;
}

.social {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 1.5px;
    background-color: $color-white;
}



.social-media a {
    display: inline-block;
    
}

.social-media a:focus {
    outline: none;
}

