/*///////////////
/// HEADER
*///////////////

header {
    background-color: $color-dark-purple;
    }



.logo {
    width: 50px;
    height: 50px;
}

.top-bar {
    display: flex;
}


nav {

    .nav {
        display: flex;
    }

    ul {
        margin: 0;
        list-style: none;
        padding: 1em 1em;
        text-align: right;
    }

    li {
        padding: 2px;
        display: inline-block;
        border-radius: 50px;
        background-color: rgba(255,255,255,0.2);
        padding: 10px 20px;

    }

    li.current_page_item {
        background-color: rgba(0,0,0,0.6);
    }

    li a {
        color: $color-white;
        text-decoration: none;
    }
}

.header-icons {
    display: flex;
}

.play-controls {
    text-align: right;
    padding: 1em;
}

.play-controls img {
    padding: 2px;
}

.social-media {
    text-align: left;
    padding: 1em;
}


.social-media img {
    display: inline;
    width: 28px;
    height: 28px;
    padding: 2px;
    /*border: solid 1px black;
    border-radius: 50%;*/

}


/*for reference when get to it

active nav items = rgba(255,255,255,0.2);
inactive = rgba(0,0,0,0.8);
*/
